.buble-count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}